<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title>
        <ion-text color="light">
          <ion-text color="light" class="fw700">MANUAL SEARCH</ion-text>
        </ion-text>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="text-align: center;">
    <img src="./../../../assets/img/zimplatslogo.png" style="height: 80px; margin-top: 50px;">
  </div>

  <div class="wrap" style="height: 70%; flex-direction: column;">
    <ion-card>
      <ion-card-content style="background-color: white;">
        <ion-text style="text-align: center; margin-bottom: 60px; font-size: 20px;">Please select appropriate search criteria:</ion-text>
        <div>
        
          <div style="margin-top: 40px;">
            <ion-button icon-left size="medium" expand="full" shape="round" color="primary" (click)="badgeSearch()" tappable>
              SEARCH FOR A BADGE
            </ion-button>
          </div>
    
          <div style="margin-top: 40px;">
            <ion-button icon-left size="medium" expand="full" shape="round" color="primary" (click)="qSearch()" tappable>
              SEARCH FOR A QUESTIONNAIRE
            </ion-button>
          </div>
    
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
<popmenu></popmenu>