<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="bg-profile" text-center padding>
    <img src="./../../../assets/img/zimplatslogo.png">
  </div>

  <ion-card class="bg-white" no-margin>
    <ion-card-content>
      <h1 margin-bottom>
        <ion-text color="primary"><strong>About Screening & Access Control Application</strong></ion-text>
      </h1><br>
      
      <p style="font-size: 13px;" margin-bottom>
        This application was designed for the purpose of fighting against the Covid-19 Pandemic
        by protecting the wellbeing of all our stakeholders.
      </p><br>

      <p style="font-size: 13px;" >Website: <a href="http://www.zimplats.com">www.zimplats.com</a></p>
      
    </ion-card-content>
  </ion-card>

</ion-content>
