:host {
    ion-content {
        // --background: linear-gradient(135deg, var(--ion-color-dark), var(--ion-color-primary));
        --background: #ccc url("../../../assets/img/login.jpg") no-repeat center center / cover;
    }
}

.paz {
    position: relative;
    z-index: 10;
}

.wrap {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #ForRadioOptions
  .alert-radio-label.sc-ion-alert-md,
  .alert-radio-label.sc-ion-alert-ios {
     white-space: normal;
  }
  .alert-tappable.alert-radio {
     height: auto;
     contain: content;
  }
  #ForCheckbox
  .alert-checkbox-label.sc-ion-alert-md,
  .alert-checkbox-label.sc-ion-alert-ios {
     white-space: normal;
  }
  .alert-tappable.alert-checkbox {
     height: auto;
     contain: content;
  }